@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #ffffff, #f8fbff);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}